html {
  background-color: hsl(216, 12%, 8%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: hsl(216, 12%, 54%);
  font-family: 'Overpass', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translate(0, 150px);
}

.container {
  background-color: hsl(213, 19%, 18%);
  width: 20rem;
  height: 22rem;
  border-radius: 20px;

}

/* CHOOSE SECTION */
.section {
  padding: 1.8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

}


.star {
  background-color: hsl(213, 19%, 22%);
  width: 38px;
  height: 38px;
  margin-bottom: 1.4rem;
  border-radius: 50%;
  box-shadow: ;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading {
  color: hsl(0, 0%, 100%);
  font-size: 20px;
  margin-bottom: 0.6rem;
}

.description {
  line-height: 1.5;
  margin-bottom: 1.2rem;
}

.ratings {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 1.4rem;

}

.rate {
  border: none;
  font-size: 15px;
  font-weight: 700;
  color: hsl(216, 12%, 54%);
  background-color: hsl(213, 19%, 22%);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.rate:hover {
  color: hsl(0, 0%, 100%);
  background-color: hsl(216, 12%, 54%);
}

/* .rate:active{
  background-color: hsl(25, 97%, 53%);
} */


.btn {
  display: flex;
  justify-content: center;
}

.submit {
  border: none;
  border-radius: 20px;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 1.5px;
  color: hsl(0, 0%, 100%);
  background-color: hsl(25, 97%, 53%);
  width: 20rem;
  height: 2rem;
  cursor: pointer;
}

.submit:hover {
  background-color: hsl(0, 0%, 100%);
  color: hsl(25, 97%, 53%);
}

/* SUBMITTED SECTION */
.submitted {
  align-items: center;

}

.text-subitted {
  text-align: center;
}

.illustration {
  margin-bottom: 1.4rem;
  display: flex;
  flex-direction: center;
  justify-content: center;
}

.user-rating {
  display: flex;
  justify-content: center;
  align-items: center;
}

.orange {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12rem;
  height: 1.7rem;
  color: hsl(25, 97%, 53%);
  border-radius: 15px;
  background-color: hsl(213, 19%, 22%);
}

.submitted-descr {
  text-align: center;
  margin-top: 8px;
}